body,
html {
  margin: 0;
  height: 100vh;
}

.wos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/wos-irish-suarez-1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wosTxt {
  color: #f24c3d;
  font-size: 2000%;
  -webkit-text-stroke: 2px #f29727;
  text-shadow: 4px 6px 7px #f2be22;
  position: relative;
  animation: slideAndBounce 1s ease-in-out;
}

@keyframes slideAndBounce {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(30%);
  }
  90% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.mostrar {
  background-color: #f29727;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.princip {
  display: none;
}

a {
  text-decoration: none;
}

#principal {
  height: 100vh;

}
